@tailwind base;
@tailwind components;
@tailwind utilities;
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.appContainer {
  width: calc(100vw - 200px);
  min-width: 200px;
  max-width: 500px;
}
.form {
  width: 100%;
}
.formItem {
  margin-bottom: 20px;
}
.formItem .label {
  margin-bottom: 10px;
}
.formItem .content {
  width: 100%;
}
.formItem .content input{
  width: 100%;
  box-sizing: border-box;
}

.ant-upload-list .ant-upload-span {
  display: flex;
  align-items: center;
  width: calc(100% + 24px + 10px);
}
.ant-upload-list {
  width: 100%;
}
.ant-upload-list-item .ant-upload-list-item-info {
  padding: 0;
}
.ant-upload-list .ant-upload-list-item-name {
  max-width: calc(100% - 14px);
  padding-right: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ant-upload-list-item-card-actions {
  margin-left: 10px;
}
.ant-upload-list .ant-upload-list-item:hover .ant-upload-list-item-info {
  background: none !important;
}

.operation {
  width: 100%;
  display: flex;
  justify-content: space-around;
} */
